# dependencies
node_modules

# testing
coverage
coverage.json
.nyc_output

# build
lib
dist
cache
typechain
artifacts

# misc
.DS_Store
.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tsconfig.tsbuildinfo
/.idea/